In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("mai_clients.csv")
df.Datetime = df.Datetime.apply(pd.to_datetime)
serivce_df = (
    df.groupby(by=["ShopId", "EmployeeId"])
    .Datetime.apply(lambda x: x[1:] - x.shift(1).dropna())
    .reset_index(drop=True)
)
df_time = pd.merge(df, serivce_df, how="left", left_index=True, right_index=True)
df_time = df_time.rename(columns={"Datetime_y": "ServiceTime"}, inplace=False)
df_time.ServiceTime = df_time.ServiceTime.apply(lambda x: x.total_seconds())
emp_stats = df_time.groupby(by=["ShopId", "EmployeeId"]).aggregate("median")
Shops_columns = {"Total_money"}
emp_criterions = set(emp_stats.columns).difference(Shops_columns)
emp_criterions = list(emp_criterions)

In [4]:
data = pd.read_csv("ranked.csv").set_index("EmployeeId")
emp_stats_df = pd.merge(
    emp_stats.reset_index(), data, left_on=["EmployeeId"], right_index=True
).set_index(["ShopId", "EmployeeId"])

emp_stats_df

                     Total  employee_total_money  Total_money  ServiceTime  \
ShopId EmployeeId
4      4           444.000                444.00     21785.55         26.0
5      4             5.050                481.36     31872.42        434.5
4      15            2.550                 28.75     21785.55         56.0
5      15            6.250                391.11     31872.42        357.0
4      18            2.675                114.05     21785.55         62.0
5      18            5.350               2202.83     31872.42        430.0
4      21            2.800                505.00     21785.55         79.0
       28            2.600               2118.19     21785.55        113.0
5      28            4.825                772.46     31872.42        517.0
4      30            2.575                589.84     21785.55         77.0
       98            2.950                 38.50     21785.55         51.0
       161           3.200                 25.00     21785.55        135.0
5      161           4.800               3202.64     31872.42        413.0
4      173           2.750               5569.18     21785.55        102.0
       176           2.750               2287.68     21785.55         98.0
5      176           4.800               2785.21     31872.42        347.5
4      192           4.300                 22.45     21785.55         69.0
5      192           5.800               1687.75     31872.42        483.0
4      196           2.900               2870.65     21785.55         85.0
5      196           5.000               1107.91     31872.42        407.0
4      205           2.750               7105.46     21785.55         96.0
       209           2.825                 66.80     21785.55        206.5
5      209           5.300               3432.21     31872.42        476.0
       7             7.350               1466.45     31872.42        507.0
       10            5.600               3643.76     31872.42        416.0
       13            6.975               1858.13     31872.42        446.0
       14            4.900               3609.42     31872.42        456.0
       29            4.500                332.97     31872.42        428.5
       70            7.100                388.21     31872.42        664.5
       100           8.750                 62.60     31872.42        701.5
       144           5.000               2458.54     31872.42        381.0
       187           4.300                465.98     31872.42        491.0
       206           5.150               1208.30     31872.42        412.0
       207           5.950                314.58     31872.42        310.0

                   rank employee_total_money  rank Total  rank ServiceTime
ShopId EmployeeId
4      4                                16.0         1.0              15.0
5      4                                16.0         1.0              15.0
4      15                               20.0         3.0               9.0
5      15                               20.0         3.0               9.0
4      18                               11.0         6.0              17.0
5      18                               11.0         6.0              17.0
4      21                               18.0        22.0               3.0
       28                                9.0        10.0              21.0
5      28                                9.0        10.0              21.0
4      30                               17.0        24.0               2.0
       98                               25.0        21.0               1.0
       161                               8.0         7.0              19.0
5      161                               8.0         7.0              19.0
4      173                               2.0        23.0               5.0
       176                               3.0         9.0              12.0
5      176                               3.0         9.0              12.0
4      192                              13.0         2.0              20.0
5      192                              13.0         2.0              20.0
4      196                               4.0         8.0              17.0
5      196                               4.0         8.0              17.0
4      205                               1.0        23.0               4.0
       209                               7.0         5.0              23.0
5      209                               7.0         5.0              23.0
       7                                14.0        11.0              18.0
       10                                5.0        15.0              10.0
       13                               12.0        13.0              13.0
       14                                6.0        18.0              14.0
       29                               22.0        19.0              11.0
       70                               21.0        12.0              22.0
       100                              24.0         4.0              24.0
       144                              10.0        17.0               7.0
       187                              19.0        20.0              16.0
       206                              15.0        16.0               8.0
       207                              23.0        14.0               6.0

In [5]:
# order = [Total	empol_total_money	ServiceTime]
D = np.array(
    [[1, 7, 3],
     [1/7, 1, 1/7],
     [1/3, 7, 1]]
)


def EM(D):
    n = D.shape[0]
    def MRCI(n):
        table1 = [0, 0, 0.52, 0.89, 1.11, 1.25, 1.35, 1.40, 1.45, 1.49, 1.52, 1.54, 1.56, 1.58, 1.59]
        if n >= len(table1):
            raise ValueError("n too chonky")
        return table1[n-1]

    def get_CR(max_lambda):
        return ((max_lambda - n) / (n - 1)) / MRCI(n)

    w,v = np.linalg.eig(D)
    lambda_max = np.max(w).astype(np.float32)
    weights = v[:,np.argmax(w)].astype(np.float32)
    return {"w": weights, "CR": get_CR(lambda_max)}


em_res = EM(D)
local_weights = em_res["w"]
local_weights, em_res["CR"]

<ipython-input-5-d03c14de570e>:19: ComplexWarning: Casting complex values to real discards the imaginary part
  lambda_max = np.max(w).astype(np.float32)
<ipython-input-5-d03c14de570e>:20: ComplexWarning: Casting complex values to real discards the imaginary part
  weights = v[:,np.argmax(w)].astype(np.float32)

(array([0.89768934, 0.08891758, 0.43156403], dtype=float32),
 0.1303950181374183)

In [7]:

def get_emp_weights(data, local_weights, aggregation_method, order=True):

    data_inv = data.applymap(lambda x: 1.0 / x) if order else data
    data_inv_normalized = data_inv.divide(data_inv.sum(axis=1), axis=0)

    if aggregation_method == "distributive":

        data_inv_normalized_weighted = data_inv_normalized.multiply(
            local_weights, axis=1
        )
        result = data_inv_normalized_weighted.sum(axis=1)
        result_norm = (result / result.sum()).sort_values(ascending=False)


    elif aggregation_method == "multi":

        data_inv_normalized_weighted = data_inv_normalized.pow(
            local_weights, axis=1
        )
        result = data_inv_normalized_weighted.prod(axis=1)
        result_norm = (result / result.sum()).sort_values(ascending=False)

    elif aggregation_method == "ideal_point":

        data_inv_normalized_weighted = data_inv_normalized.divide(
            data_inv_normalized.max(axis=1), axis=0
        )
        result = data_inv_normalized_weighted.sum(axis=1)
        result_norm = (result / result.sum()).sort_values(ascending=False)

    return result_norm

emp_df = pd.concat([pd.Series(get_emp_weights(data, local_weights, method).index) \
           for method in ('distributive', 'ideal_point', 'multi')], axis=1)
emp_df.columns = ('distributive', 'ideal_point', 'multi')
emp_df[['distributive']]

    distributive
0            205
1            173
2            176
3             14
4             10
5            196
6            144
7             28
8             13
9            187
10           206
11           161
12            21
13            30
14            29
15             7
16            98
17           209
18           207
19            70
20            18
21            15
22           100
23           192
24             4

In [13]:

temp = (
    emp_stats_df.reset_index()
    .groupby("EmployeeId")
    .apply(
        lambda x: x[
            (list(emp_criterions))
            + ["rank Total", "rank employee_total_money", "rank ServiceTime"]
        ].sort_values("employee_total_money", ascending=False)
    )
)

pd.merge(
    temp.reset_index(),
    emp_df[["distributive"]].reset_index(),
    left_on="EmployeeId",
    right_on="distributive",
).sort_values("index", ascending=True)

,EmployeeId,level_1,ServiceTime,employee_total_money,Total,rank Total,rank employee_total_money,rank ServiceTime,index,distributive
29,205,20,96.0,7105.46,2.750,23.0,1.0,4.0,0,205
21,173,13,102.0,5569.18,2.750,23.0,2.0,5.0,1,173
22,176,15,347.5,2785.21,4.800,9.0,3.0,12.0,2,176
23,176,14,98.0,2287.68,2.750,9.0,3.0,12.0,2,176
5,14,26,456.0,3609.42,4.900,18.0,6.0,14.0,3,14
3,10,24,416.0,3643.76,5.600,15.0,5.0,10.0,4,10
28,196,19,407.0,1107.91,5.000,8.0,4.0,17.0,5,196
27,196,18,85.0,2870.65,2.900,8.0,4.0,17.0,5,196
18,144,30,381.0,2458.54,5.000,17.0,10.0,7.0,6,144
11,28,7,113.0,2118.19,2.600,10.0,9.0,21.0,7,28
12,28,8,517.0,772.46,4.825,10.0,9.0,21.0,7,28
4,13,25,446.0,1858.13,6.975,13.0,12.0,13.0,8,13
24,187,31,491.0,465.98,4.300,20.0,19.0,16.0,9,187
30,206,32,412.0,1208.30,5.150,16.0,15.0,8.0,10,206
20,161,11,135.0,25.00,3.200,7.0,8.0,19.0,11,161
19,161,12,413.0,3202.64,4.800,7.0,8.0,19.0,11,161
10,21,6,79.0,505.00,2.800,22.0,18.0,3.0,12,21
14,30,9,77.0,589.84,2.575,24.0,17.0,2.0,13,30
13,29,27,428.5,332.97,4.500,19.0,22.0,11.0,14,29
2,7,23,507.0,1466.45,7.350,11.0,14.0,18.0,15,7
16,98,10,51.0,38.50,2.950,21.0,25.0,1.0,16,98
33,209,21,206.5,66.80,2.825,5.0,7.0,23.0,17,209
32,209,22,476.0,3432.21,5.300,5.0,7.0,23.0,17,209
31,207,33,310.0,314.58,5.950,14.0,23.0,6.0,18,207
15,70,28,664.5,388.21,7.100,12.0,21.0,22.0,19,70
9,18,4,62.0,114.05,2.675,6.0,11.0,17.0,20,18
8,18,5,430.0,2202.83,5.350,6.0,11.0,17.0,20,18
7,15,2,56.0,28.75,2.550,3.0,20.0,9.0,21,15
6,15,3,357.0,391.11,6.250,3.0,20.0,9.0,21,15
17,100,29,701.5,62.60,8.750,4.0,24.0,24.0,22,100
25,192,17,483.0,1687.75,5.800,2.0,13.0,20.0,23,192
26,192,16,69.0,22.45,4.300,2.0,13.0,20.0,23,192
1,4,0,26.0,444.00,444.000,1.0,16.0,15.0,24,4
0,4,1,434.5,481.36,5.050,1.0,16.0,15.0,24,4